.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vw;
  height: 100%;
  width: 100%;
  color: white;
  white-space: pre-line;
}

.App-header {
  background-color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid gray;
}

.main-table, th, td {
  margin-left:14%;
  border: 1px solid gray;
}

th {
  padding: 10px 20px;
}

.item-icon {
  height: 64px;
  width: 64px;
}

.loading-wheel{
  width: 10%;
  margin-top: 10%;
}

.hidden-items-counter{
  padding: 20px;
  text-align: right;
}
