.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vw;
  height: 100%;
  width: 100%;
  color: white;
  white-space: pre-line;
}

.App-header {
  background-color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid gray;
}

.main-table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}

th {
  padding: 10px 20px;
}

.item-icon {
  height: 64px;
  width: 64px;
}

.loading-wheel{
  width: 10%;
  margin-top: 10%;
}

.hidden-items-counter{
  padding: 20px;
}

.dropdown-city {
  width: 200px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  font-size: 16px;
}

.dropdown-city option {
  padding: 10px;
}

.city-selector {
  justify-content: right;
}

.search-input {
  width: 350px;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  font-size: 24px;
}